<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.js">
    <title>Natural Language Processing (NLP) Question and Answer Demo by Pragnakalp Solutions</title>

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/style_bert.css">
</head>

<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="{{ url_for('submitted_form') }}">
                        <h2 class="form-title">Question And Answer Demo Using BERT NLP</h2>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="comment">Paragraph <span class="red-star">*</span></label>
                                <textarea name="Paragraph" class="form-control" rows="7" id="comment"
                                    required>Google was founded in 1998 by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University in California. Together they own about 14 percent of its shares and control 56 percent of the stockholder voting power through supervoting stock. They incorporated Google as a privately held company on September 4, 1998. An initial public offering (IPO) took place on August 19, 2004, and Google moved to its headquarters in Mountain View, California, nicknamed the Googleplex. In August 2015, Google announced plans to reorganize its various interests as a conglomerate called Alphabet Inc. Google is Alphabet's leading subsidiary and will continue to be the umbrella company for Alphabet's Internet interests. Sundar Pichai was appointed CEO of Google, replacing Larry Page who became the CEO of Alphabet.</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 1 <span class="red-star">*</span></label>
                            <input name="Question1" class="form-control input-lg" id="inputlg" type="text"
                                value="Who is current CEO?" required>
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 2</label>
                            <input name="Question2" class="form-control input-lg" id="inputlg" type="text"
                                value="Where google started?">

                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 3</label>
                            <input name="Question3" class="form-control input-lg" id="inputlg" type="text"
                                value="Who founded google?">
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 4</label>
                            <input name="Question4" class="form-control input-lg" id="inputlg" type="text"
                                value="where is headquarter of Google?">
                        </div>
                        <div class="form-group">
                            <label for="inputlg">Question 5</label>
                            <input name="Question5" class="form-control input-lg" id="inputlg" type="text"
                                value="when did IPO take place?">
                        </div>

                        <div class="form-group" id="submitblock">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />
                            <small class="help-block">
                                It might take around 45 seconds to process your request. So kindly be patient.
                            </small>
                        </div>
                        <!--                         
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />
                        </div> -->
                    </form>
                    <footer align="center">
                        <p style="color: black; font-size: 15px;">Developed by : <a href="https://www.pragnakalp.com"
                                target="_blank">Pragnakalp Techlabs </a></p>
                    </footer>
                </div>
            </div>
        </section>
    </div>
</body>
</html>